<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Heroes Of Might And Magic 2 maps">
    <title>hommmaps2</title>
    <link rel="icon" type="image/x-icon" href="static/img/favicon.ico">
    <link rel="stylesheet" href="static/css/home.css">
</head>
<body>
    <div class="grid-container">
        <header>
            <h1>hommmaps2</h1>
            <h3>login</h3>
        </header>
        <section class="column-1">
        </section>
        <section class="column-2">

            <form method="POST">
                <input autocomplete="on" type="text" name="username">
                <input type="password" name="password">
                <input type="submit" value="reg/log">
            </form>
            <a href="/logout">
                <button>log out</button>
            </a>
            <h3>{{loginResult}}</h3>
        </section>
        <section class="column-3">
        </section>   
    </div>
</body>
</html>
