{% for map in sortedMaps %}
    <div class="map">
        <div>
            <h2> 
                {{ map.name }}
            </h2>
        </div>
        <div class="map-info">
            <img src="static/maps/{{map.name}}/thumbnail.jpg"><br> 
            <a href="static/maps/{{map.name}}/{{map.file}}" download="{{map.file}}">
                <button class="download-button">
                    download
                </button>
            </a>      
            <form method="POST" hx-post="/{{map.name}}/upvote">
                <button class="vote-button" type="submit">
                    +
                </button>
            </form>
            <form method="POST" hx-post="/{{map.name}}/downvote">
                <button class="vote-button" type="submit">
                    -
                </button>                
            </form> 
            <a href="/{{map.name}}">
                comments
            </a>                                            
            <p class="description-text"> 
                <br>
                author: {{ map.author }} <br>
                size: {{ map.size }} <br>
                players: {{ map.humans }} / {{ map.players }} <br>
                rating:
                {%if map.votes | length > 0%}
                {{ (5 * (map.votes.values() | sum / map.votes | length) + 5) | round(2)}} / 10 ({{map.votes.values() | length }})
                {% else %}
                No votes yet
                {% endif %}<br>
            </p><br>           
        </div>
        <div class="comment-input">
            <form method="POST" hx-post="/{{map.name}}/comment">           
                <input autocomplete="off" class="comment-input" name="comment" placeholder="comment" type="text">
                <button class="comment-submit">
                    send
                </button>                                 
            </form>            
        </div>
        <div class="comments">
            <p class="comment-text">
                <strong>
                    {{ username }}
                </strong>
                {{ comment }}
            </p>
        </div>
    </div>
{% endfor %}